a {
    text-decoration: underline;
}
a:visited {
    color: brown;
}
a:hover {
    color: white;
    background-color: black;
}

/* code { */
/*     background-color: #F8F8F8; */
/*     border-radius: 3px; */
/*     padding: 1px 3px; */
/*     color: #c7254e; */
/* } */

/* @media all {html {font-size: 15px;}} */
/* @media all and (max-width:940px){html {font-size: 14px;}} */
/* @media all and (max-width:850px){html {font-size: 13px;}} */
/* @media all and (max-width:830px){html {font-size: 12px;}} */
/* @media all and (max-width:740px){html {font-size: 11px;}} */

body {
    margin: auto;
    width: 100%;
    padding: 1em;
    background: url(./paper.png);
}

#content {
    margin: auto;
    padding: 1em;
    border: solid rgba(255,0,0,.35);
    border-width: 0 0 0 1px;
    max-width: 1024px;
    background: rgba(255,255,255,.74);
}

/* table { */
/*     border: 1px solid black; */
/* } */

/* table, th, td { */
/*     border-spacing: 2px; */
/*     border-collapse: separate; */
/* } */

blockquote{
  /* font-size: 1em; */
  /* width:60%; */
  /* margin:50px auto; */
  /* font-family:Open Sans; */
  /* font-style:italic; */
  /* color: #555555; */
  /* padding:1.2em 3px 1.2em 30px; */
  padding-left: 2em;
  /* border-left:8px solid #78C0A8 ; */
  border-left:0.5em solid gray ;
  /* line-height:1.6; */
  position: relative;
  /* background:#EDEDED; */
}
blockquote::before{
  /* font-family:Arial; */
  content: "\201C";
  /* color:#78C0A8; */
  font-size:2em;
  position: absolute;
  left: 10px;
  top:-10px;
}


/* h1 { */
/*   font-size: 2rem; */
/*   padding-bottom: 0.5rem; */
/*   border-bottom: 1px solid #444; */
/* } */

/* h2 { */
/*   font-size: 1.1rem; */
/* } */

/* h3 { */
/*   font-size: 0.9rem; */
/* } */
/* h4 { */
/*   font-size: 0.8rem */
/* } */


pre {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: 1px dashed #444;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.figure {
    display: inline;
}

.figure p {
    display: inline;
}
