a {
    text-decoration: underline;
}

/* link style from from http://fmnt.info/blog/20181029_scheme.html */
a:visited {
    color: brown;
    padding: 0 1px;
    text-decoration: underline;
}
a:hover {
    background-color: brown;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* external link */
/* from https://waaz.xyz/adding-external-link-indicator-with-css/ */
/* a:not([href*='lihebi.com']):not([href^='#']):not([href^='/']):after {} */
a[href^="http"]:after {
    /* font-family: 'FontAwesome'; */
    /* content: " \f08e"; */
    /* Alternative \1F517 */
    content: " \279A";
}

/* code { */
/*     background-color: #F8F8F8; */
/*     border-radius: 3px; */
/*     padding: 1px 3px; */
/*     color: #c7254e; */
/* } */

/* @media all {html {font-size: 15px;}} */
/* @media all and (max-width:940px){html {font-size: 14px;}} */
/* @media all and (max-width:850px){html {font-size: 13px;}} */
/* @media all and (max-width:830px){html {font-size: 12px;}} */
/* @media all and (max-width:740px){html {font-size: 11px;}} */

html {
    max-width: 1196px;
    margin: auto;
    background-color: #F8F8F8;
}
body {
    /* From https://pomax.github.io/bezierinfo/. */
    /* background: url(./paper.png); */
    background-color: white;
    margin: 16px auto;
    border: solid #ccc 1px;
    border-radius: 20px;
    padding: 1em;
    /* font-family: monospace; */
    /* font-family: "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", serif; */
    /* font-size: 13pt; */
    text-align: justify;
}

#content {
    margin: auto;
    max-width: 1100px;
    background: rgba(255,255,255,.74);
}

/* table { */
/*     border: 1px solid black; */
/* } */

/* table, th, td { */
/*     border-spacing: 2px; */
/*     border-collapse: separate; */
/* } */
blockquote{
    /* font-style:italic; */
    color: #555555;
    padding-left: 2em;
    border-left:0.5em solid gray ;
}
blockquote::before{
    /* content: "\201C"; */
    content: "“";
    font-size:2em;
    position: absolute;
    margin: -1rem 0 0 -1rem;
    opacity: 0.5;
}
#table-of-contents {
    float: right;
    /* FIXME what's the effect of clear? */
    clear: right;
    display: block;
    font-size: 90%;
    max-width: 30%;
    border: 1px solid #8888aa;
    border-radius: 15px;
    background: #f7f8ff;
    padding: 5px;
    margin: 0 15px 3em 15px;
}

#table-of-contents a {
    text-decoration: none;
}

pre.src {
    overflow: auto;
    padding-top: 0.5em;
}
#table-of-contents ul {
    padding-inline-start: 20px;
}


#me {
    float: right;
    padding: 2em;
}

@media only screen and (max-width: 600px) {
    #table-of-contents {
        display: block;
        float: none;
        max-width: 100%;
    }
    #me {
        float: none;
        display: block;
        margin: auto;
    }
}

h2 {
    border-bottom: 1px solid gray;
    /* This prevents the border running into TOC */
    overflow: hidden;
}

pre {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: 1px dashed #444;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.figure {
    display: inline;
}

.figure p {
    display: inline;
}


/* TODO Admonitions from
   https://docs.julialang.org/en/v1.4-dev/manual/calling-c-and-fortran-code/
   */
/*
 * Admonitions
 *
 * Colors (title, body)
 * warning: #f0b37e #ffedcc (orange)
 * note:    #6ab0de #e7f2fa (blue)
 * tip:     #1abc9c #dbfaf4 (green)
*/
.admonition {
    border-radius: 3px;
    background-color: #eeeeee;
    margin: 1em 0;
}

.admonition-title {
    border-radius: 3px 3px 0 0;
    background-color: #9b9b9b;
    padding: 0.15em 0.5em;
}

.admonition-text {
    padding: 0.5em;
}

.admonition-text > :first-child {
    margin-top: 0;
}

.admonition-text > :last-child {
    margin-bottom: 0;
}

.admonition > .admonition-title:before {
    font-family: "FontAwesome";
    margin-right: 5px;
    content: "\f06a";
}

.admonition.warning > .admonition-title {
    background-color: #f0b37e;
}

.admonition.warning {
    background-color: #ffedcc;
}

.admonition.note > .admonition-title {
    background-color: #6ab0de;
}

.admonition.note {
    background-color: #e7f2fa;
}

.admonition.tip > .admonition-title {
    background-color: #1abc9c;
}

.admonition.tip {
    background-color: #dbfaf4;
}
